body {
  margin: 0 auto;
  max-width: 500px;
}

header {
  margin: 3em 3em;
  text-align: center;
}

footer {
  margin: 5em 5em;
  text-align: center;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Lucida Console", Monaco, monospace;
  font-weight: 500;
}

p, li, a {
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif
}

h2 {
  /*margin-top: 2em;*/
}

li {
  margin: 5px 0 5px 0;
}

a {
  color: black;
}

.navbar {
  padding: 0;
  list-style-type: none
}

.navlink {
  display: inline;
}

.navlink a {
  text-align: center;
  padding: 0 16px;
  text-decoration: none;
}

.navlink a:hover {
  text-decoration: underline;
}
.headerClass {
	height: 6px;
	background: url(http://ibrahimjabbari.com/english/images/hr-11.png) repeat-x 0 0;
    border: 0;
}

.bodyClass{
	border-top: 1px dotted #8c8b8b;
  border-bottom: none;
  width: 50%;
  margin: 0 auto;
}


@media only screen and (max-width: 500px) {
  body {
    margin: 20px;
  }
}
