<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script
    src="https://code.jquery.com/jquery-2.2.4.min.js"
    integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="
    crossorigin="anonymous"></script>
    <link rel="shortcut icon" href="../images/favicon.png">
    <link rel="stylesheet" href="../css/tachyons.css">
    <title>Watch Collection</title>
  </head>
  <body class="helvetica fw3">
    <header class="w-50-ns w-80 center">
      <h1 class="f-title-ns f1 lh-solid">
        Casio<br>MQ-24-1BLLGF
      </h1>
    </header>
    <main class="w-50-ns w-80 center">
      <div class="w-100 bt"></div>
      <section class="f3-ns f4 lh-copy">
        <h2 class="f3-ns f4 lh-title">Purchased 19-08-2017</h2>
        <p>
          <small>
          This will forever be the best beater watch money can buy (this or the Casio F91-W). Its an amazing watch for the price. Comfortable, cheap, and good looking with timeless minimalist styling. Definetly a classic.
          </small>
        </p>
        <table class="f3-ns f4 w-100 center" cellspacing="0">
          <tbody>
            <tr>
              <td><strong>Brand:</strong></td>
              <td>Casio</td>
            </tr>
            <tr>
              <td><strong>Year:</strong></td>
              <td>2015</td>
            </tr>
            <tr>
              <td><strong>Type:</strong></td>
              <td>Quartz</td>
            </tr>
            <tr>
              <td><strong>Jewels:</strong></td>
              <td>N/A</td>
            </tr>
            <tr>
              <td><strong>Movement:</strong></td>
              <td>Miyota 2035</td>
            </tr>
            <tr>
              <td><strong>Case Size:</strong></td>
              <td>35 mm</td>
            </tr>
            <tr>
              <td><strong>Thickness:</strong></td>
              <td>8 mm</td>
            </tr>
          </tbody>
        </table>
      </section>
      <a class="f3-ns f4 lh-copy black no-underline underline-hover" href="watches.index.html">Back</a>
    </main>
    <footer class="w-50-ns w-80 center tc">
      <p class="f4 lh-copy"><small>2017</small></p class="f4 lh-copy">
    </footer>
  </body>
</html>
