<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script
    src="https://code.jquery.com/jquery-2.2.4.min.js"
    integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="
    crossorigin="anonymous"></script>
    <link rel="shortcut icon" href="../images/favicon.png">
    <link rel="stylesheet" href="../css/tachyons.css">
    <title>Watch Collection</title>
  </head>
  <body class="helvetica fw3">
    <header class="w-50-ns w-80 center">
      <h1 class="f-title-ns f1 lh-solid">
        Watch<br>Collection
      </h1>
    </header>
    <main class="w-50-ns w-80 center">
      <section class="f3-ns f4 lh-copy">
        <div class="w-100 bt"></div>
        <p>
          This is my watch collection, its still in its infancy, and I'm looking to add to it all the time. It includes two sections, owned watches and future watches to be owned once possible.
      </section>
      <section class="f3-ns f4 lh-copy">
        <h2 class="f3-ns f4 lh-title">Current Collection</h2>
        <p>
          <small>Starting from my latest accuisition.</small>
        </p>
        <ul>
          <li><strong><a class="black no-underline underline-hover" href="./watches.raketa-19-08-2017.html">Vintage Raketa (unknown ref.)</a></strong></li>
          <li><strong><a class="black no-underline underline-hover" href="./watches.seiko5-04-07-2017.html">Seiko 5 SNXS79K</a></strong></li>
          <li><strong><a class="black no-underline underline-hover" href="./watches.braun-28-12-2016.html">Braun BN0032-WHBKG</a></strong></li>
          <li><strong><a class="black no-underline underline-hover" href="./watches.casio-30-10-2015.html">Casio MQ-24-1BLLGF</a></strong></li>
        </ul>
      </section>
      <div class="w-100 bt"></div>
      <section class="f3-ns f4 lh-copy">
        <h2 class="f3-ns f4 lh-title">Wishlist</h2>
        <ul>
          <li><strong>Seiko SKX009K/007K</strong></li>
          <li><strong>Tissot Visodate</strong></li>
          <li><strong>Vintage Universal Geneve Polerouter</strong></li>
          <!-- <li><strong><a class="black no-underline underline-hover" href="">Seiko 5 SNXS79K</a></strong></li> -->
          <!-- <li><strong><a class="black no-underline underline-hover" href="">Braun BN0032-WHBKG</a></strong></li> -->
          <!-- <li><strong><a class="black no-underline underline-hover" href="">Casio MQ-24-1BLLGF</a></strong></li> -->
        </ul>
      </section>
      <a class="f3-ns f4 lh-copy black no-underline underline-hover" href="../index.html">Home</a>
    </main>
    <footer class="w-50-ns w-80 center tc">
      <p class="f4 lh-copy"><small>2017</small></p class="f4 lh-copy">
    </footer>
  </body>
</html>
