<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script
    src="https://code.jquery.com/jquery-2.2.4.min.js"
    integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="
    crossorigin="anonymous"></script>
    <link rel="shortcut icon" href="../images/favicon.png">
    <link rel="stylesheet" href="../css/tachyons.css">
    <title>Watch Collection</title>
  </head>
  <body class="pv4 helvetica fw3">
    <header class="w-50-ns w-80 center">
      <img src="../assets/photos/braun.jpg" alt="">
      <h1 class="f-title-ns f1 lh-solid">
        Braun<br>BN0032-WHBKG
      </h1>
    </header>
    <main class="w-50-ns w-80 center">
      <div class="w-100 bt"></div>
      <section class="f3-ns f4 lh-copy">
        <h2 class="f3-ns f4 lh-title">Purchased 28-12-2016</h2>
        <p>
          <small>
          I had been wanting this watch for quite a while for its minimalist simplicity and it's connection as an homage to the original Braun AW10 and AW50. I think it has an amazing racing and Dieter Rams inspired design, however it did eventually annoy me with several downsides to it's otherwise quite pretty construction. It does have quite a hefty price tag for being an outsource manufactured quartz movement watch, and the acrylic crystal used scratched way too easily. Overall, it's got the looks, but unfortunately not the quality expected for the price tag, especially when other higher quality watches (Seiko SKX, Marathon) with better pedigrees are available for a similar ammount.
          </small>
        </p>
        <table class="f3-ns f4 w-100 center" cellspacing="0">
          <tbody>
            <tr>
              <td><strong>Brand:</strong></td>
              <td>Braun Clocks</td>
            </tr>
            <tr>
              <td><strong>Year:</strong></td>
              <td>2015</td>
            </tr>
            <tr>
              <td><strong>Type:</strong></td>
              <td>Quartz</td>
            </tr>
            <tr>
              <td><strong>Jewels:</strong></td>
              <td>N/A</td>
            </tr>
            <tr>
              <td><strong>Movement:</strong></td>
              <td>Miyota 1S13</td>
            </tr>
            <tr>
              <td><strong>Case Size:</strong></td>
              <td>40 mm</td>
            </tr>
            <tr>
              <td><strong>Thickness:</strong></td>
              <td>7.8 mm</td>
            </tr>
          </tbody>
        </table>
      </section>
      <a class="f3-ns f4 lh-copy black no-underline underline-hover" href="watches.index.html">Back</a>
    </main>
    <footer class="w-50-ns w-80 center tc">
      <p class="f4 lh-copy"><small>2017</small></p class="f4 lh-copy">
    </footer>
  </body>
</html>
