<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script
    src="https://code.jquery.com/jquery-2.2.4.min.js"
    integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="
    crossorigin="anonymous"></script>
    <link rel="shortcut icon" href="../images/favicon.png">
    <link rel="stylesheet" href="../css/tachyons.css">
    <title>Watch Collection</title>
  </head>
  <body class="pv4 helvetica fw3">
    <header class="w-50-ns w-80 center">
      <img src="../assets/photos/seiko5.jpg" alt="">
      <h1 class="f-title-ns f1 lh-solid">
        Seiko<br>SKX007K1
      </h1>
    </header>
    <main class="w-50-ns w-80 center">
      <div class="w-100 bt"></div>
      <section class="f3-ns f4 lh-copy">
        <h2 class="f3-ns f4 lh-title">Purchased 18-10-2017</h2>
        <p>
          <small>
            This watch is definitively the darling of the watch geek world for being such an inexpensive (relatively) , but simultaneously stunning piece of watch making. I wavered on purchasing it, but ultimately caved for the reason that it is such a durable piece. I bought it in commemoration for my first real job as an engineer (albiet before my first paycheck which in hindsight was definetly way too irresponsible). I've put it on a Strapcode Super Oyster, which I have to admit was a bit difficult to size. However, once adjusted properly, the watch and strap feel solid. Everytime I see it, I marvel in its handsome good looks, and when I wear it the watch truly feels like the first quality time piece I've owned. It is impressively heavy though (153 g).
          </small>
        </p>
        <table class="f3-ns f4 w-100 center" cellspacing="0">
          <tbody>
            <tr>
              <td><strong>Brand:</strong></td>
              <td>Seiko</td>
            </tr>
            <tr>
              <td><strong>Year:</strong></td>
              <td>2013</td>
            </tr>
            <tr>
              <td><strong>Type:</strong></td>
              <td>Automatic</td>
            </tr>
            <tr>
              <td><strong>Jewels:</strong></td>
              <td>21</td>
            </tr>
            <tr>
              <td><strong>Movement:</strong></td>
              <td>Seiko 7S26</td>
            </tr>
            <tr>
              <td><strong>Case Size:</strong></td>
              <td>42.5 mm</td>
            </tr>
            <tr>
              <td><strong>Thickness:</strong></td>
              <td>13 mm</td>
            </tr>
          </tbody>
        </table>
      </section>
      <a class="f3-ns f4 lh-copy black no-underline underline-hover" href="watches.index.html">Back</a>
    </main>
    <footer class="w-50-ns w-80 center tc">
      <p class="f4 lh-copy"><small>2017</small></p class="f4 lh-copy">
    </footer>
  </body>
</html>
