<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script
    src="https://code.jquery.com/jquery-2.2.4.min.js"
    integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="
    crossorigin="anonymous"></script>
    <link rel="shortcut icon" href="../images/favicon.png">
    <link rel="stylesheet" href="../css/tachyons.css">
    <title>Watch Collection</title>
  </head>
  <body class="helvetica fw3">
    <header class="w-50-ns w-80 center">
      <h1 class="f-title-ns f1 lh-solid">
        Seiko 5<br>SNXS79K
      </h1>
    </header>
    <main class="w-50-ns w-80 center">
      <div class="w-100 bt"></div>
      <section class="f3-ns f4 lh-copy">
        <h2 class="f3-ns f4 lh-title">Purchased 04-07-2017</h2>
        <p>
          <small>
            This was definetly the watch that got me into watches. My first automatic watch, and a damn fine one if I had to say so myself. It's a beautifully made watch, and definetly my most accurate mechanical watch. The hardlex unfortunately scratches a bit easy, and the case isn't the most resiliant, but for under $100 I can't complain. However....I can complain about Seiko's entery level folding bracelet. It is fairly comfortable, but man the pain I had adjusting it, and its tendency to cut things with its scapel sharp edges (it cut open a pocket on my Barbour jacket) makes it a testy bracelet to own.
          </small>
        </p>
        <table class="f3-ns f4 w-100 center" cellspacing="0">
          <tbody>
            <tr>
              <td><strong>Brand:</strong></td>
              <td>Seiko</td>
            </tr>
            <tr>
              <td><strong>Year:</strong></td>
              <td>2013</td>
            </tr>
            <tr>
              <td><strong>Type:</strong></td>
              <td>Automatic</td>
            </tr>
            <tr>
              <td><strong>Jewels:</strong></td>
              <td>21</td>
            </tr>
            <tr>
              <td><strong>Movement:</strong></td>
              <td>Seiko 7S26C</td>
            </tr>
            <tr>
              <td><strong>Case Size:</strong></td>
              <td>37 mm</td>
            </tr>
            <tr>
              <td><strong>Thickness:</strong></td>
              <td>12 mm</td>
            </tr>
          </tbody>
        </table>
      </section>
      <a class="f3-ns f4 lh-copy black no-underline underline-hover" href="watches.index.html">Back</a>
    </main>
    <footer class="w-50-ns w-80 center tc">
      <p class="f4 lh-copy"><small>2017</small></p class="f4 lh-copy">
    </footer>
  </body>
</html>
