<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="../images/favicon.png">
    <link rel="stylesheet" href="../../css/tachyons.css">
    <title>Comforting Sounds</title>
  </head>
  <body class="pv4 fw3">
    <header class="w-50-ns w-80 center">
      <h1 class="helvetica f-title-ns f1 lh-solid">
        Comforting Sounds
      </h1>
    </header>
    <main class="w-50-ns w-80 center">
      <div class="w-100 bt"></div>
      <section class="calisto f3-ns f4 h-100">
        <!-- <h2 class="f3-ns f4 lh-title">Subtitle</h2> -->
        <p>
          It's an early morning and all I hear are comforting sounds, a car, tires, gravel. We have to pack up our camping supplies quickly and go. A layer of dust settled over me last night, and I think to my self I've become earth. That's not true though. 
        </p>
        <p>
          The tents will be the most tedious to pack. Crows cackle at our departure. I'll take a shower once I get home.
        </p>
      </section>
      <div class="w-100 bt"></div>
    </main>
    <footer class="w-50-ns w-80 center tc">
      <p class="f4 lh-copy"><small>2018</small></p>
      <a class="f4 lh-copy black no-underline underline-hover" href="./index.html"><small>Back</small></a>
    </footer>
  </body>
</html>
