<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="../../images/favicon.png">
    <link rel="stylesheet" href="../../css/tachyons.css">
    <title>Short Stories, Essays, etc.</title>
  </head>
  <body class="pv2 helvetica fw3">
    <header class="w-50-ns w-80 center">
      <h1 class="f-title-ns f1 lh-solid">
        Written<br>Things
      </h1>
    </header>
    <main class="w-50-ns w-80 center">
      <section class="f3-ns f4 lh-copy">
        <div class="w-100 bt"></div>
        <p>
          This is an archive of thoughts, short stories, essays, and anything else I decide to write down.
      </section>
      <section class="f3-ns f4 lh-copy">
        <p>
          <small>Unorganized by category, ordered by date, usually</small>
        </p>
        <ul>
          <li>
            <a class="black no-underline underline-hover" href="./no-cows-in-hawaii.html">
              No Cows in Hawaii
            </a>
            <small> &mdash; 7/5/2018</small>
          </li>
          <li>
            <a class="black no-underline underline-hover" href="./comforting-sounds.html">
            Comforting Sounds
          </a>
          <small> &mdash; 7/5/2018</small>
        </li>
        </ul>
      </section>
      <div class="w-100 bt"></div>
      <a class="f3-ns f4 lh-copy black no-underline underline-hover" href="../../index.html">Home</a>
    </main>
    <footer class="w-50-ns w-80 center tc">
      <p class="f4 lh-copy"><small>2017</small></p class="f4 lh-copy">
    </footer>
  </body>
</html>
