<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="../images/favicon.png">
    <link rel="stylesheet" href="../../css/tachyons.css">
    <title>The Penninsula</title>
  </head>
  <body class="pv4 helvetica fw3">
    <header class="w-50-ns w-80 center">
      <h1 class="f-title-ns f1 lh-solid">
        What Lies Between
      </h1>
    </header>
    <main class="w-50-ns w-80 center">
      <div class="w-100 bt"></div>
      <section class="f3-ns f4 lh-copy">
        <!-- <h2 class="f3-ns f4 lh-title">Subtitle</h2> -->
        <p>
          There is no interest in that which is transitionary, between the glittering culture and the money that makes it, the land which lies between. A place that no one is in a rush to be.
        </p>
        <p>
          Trains move through the Peninsula with sure intent, they know their direction, as do the many who clamber aboard every morning to escape to either extremities of the Bay, the city and the valley. Left with little of the industry, but much of the people who work in it, the Peninsula is the Bay Area's suburb, it's manicured parks and endless stretches of pavement fill the domestic void that the local industry demands. Those who live in the Peninsula pay little attention to what they cherish as a safe haven at night and abandon for employment during the day.
        </p>
        <p>
          What was once farm land has now been transformed, by subsequent waves of economic booms, into a string of commuter towns between the regional centers of industry. To most who come, it is a place to rent a house, and maybe raise some kids. For those, or rather, for some who have grown up here, it is something entirely different. The Peninsula is an unfolding maze of bizarre treasures, its unforgiving mountain roads, palatial corporate campuses and winding suburban towns meant to confuse and deny hide a history and community worth engaging with. I hope to detail some of that here, and share what I've seen in what would otherwise be immediately dismissed as the culture-less desolation of what lies between San Francisco and Silicon Valley, the Peninsula.
        </p>
      </section>
      <a class="f3-ns f4 lh-copy black no-underline underline-hover" href="../../index.html">Back</a>
      <a class="ml3 f3-ns f4 lh-copy black no-underline underline-hover" href="./penninsula.pt2.html">Next</a>
    </main>
    <footer class="w-50-ns w-80 center tc">
      <p class="f4 lh-copy"><small>2017</small></p class="f4 lh-copy">
    </footer>
  </body>
</html>
