<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="../images/favicon.png">
    <link rel="stylesheet" href="../../css/tachyons.css">
    <title>The Penninsula</title>
  </head>
  <body class="pv4 helvetica fw3">
    <header class="w-50-ns w-80 center">
      <h1 class="f-title-ns f1 lh-solid">
        What Lies Between
      </h1>
    </header>
    <main class="w-50-ns w-80 center">
      <div class="w-100 bt"></div>
      <section class="f3-ns f4 lh-copy">
        <!-- <h2 class="f3-ns f4 lh-title">Subtitle</h2> -->
        <p>
          There is no interest in that which is transitionary, between the glittering culture and the money that makes it, the land which lies between. A place that no one seems in a rush to be, lives in a unbecoming state of disinterest.
        </p>
        <p>
          Trains move thorugh the Penninsula with sure intent, they know their direction, as do the many who clamber aboard every morning to escape to either extremeties of the Bay Area, the city and the valley. Left with little of the industry, but much of the people who work in it, the Penninsula is the Bay Area's suburb, it's manicured parks and endless stretches of pavemet fill the domestic void that the local industry demands. Those who live in the Penninsula pay little attention to what they cherish as a safe haven at night and abandon for employment during the day.
        </p>
        <p>
          The area is overlooked for many reasons, most of which are painfully obvious. San Francisco and Silicon Valley exist. These two alone add up to the Penninsula being relegated to be a string of commuter towns between them. For the many who move to the region for the allure of tech, the area is just that. A place to rent a house, and maybe raise some kids. For those, or rather, for some who have grown up here, its something entirely different. The Penninsula is an unfolding maze of bizzare treasures, its twisting mountain roads, mega suburbs and palatial corporate campuses hide that which only becomes known to you after years of due diligence and understanding. I hope to detail some of that here, and share what I've seen in what would otherwise be immediately dismissed as the cultureless desolation of what lies between San Francisco and Silicon Valley, the Penninsula.
        </p>
      </section>
      <a class="f3-ns f4 lh-copy black no-underline underline-hover" href="../../index.html">Back</a>
      <a class="ml3 f3-ns f4 lh-copy black no-underline underline-hover" href="./penninsula.pt2.html">Next</a>
    </main>
    <footer class="w-50-ns w-80 center tc">
      <p class="f4 lh-copy"><small>2017</small></p class="f4 lh-copy">
    </footer>
  </body>
</html>
