<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="../images/favicon.png">
    <link rel="stylesheet" href="../../css/tachyons.css">
    <title>The Penninsula</title>
  </head>
  <body class="pv4 helvetica fw3">
    <header class="w-50-ns w-80 center">
      <h1 class="f-title-ns f1 lh-solid">
        The Ballad of Good Bites
      </h1>
    </header>
    <main class="w-50-ns w-80 center">
      <div class="w-100 bt"></div>
      <section class="f3-ns f4 lh-copy">
        <h2 class="f3-ns f4 lh-title">Subtitle</h2>
        <p>
          ...body
        </p>
      </section>
      <a class="f3-ns f4 lh-copy black no-underline underline-hover" href="./penninsula.pt1.html">Back</a>
      <a class="ml3 f3-ns f4 lh-copy black no-underline underline-hover" href="./penninsula.pt2.html">Next</a>
    </main>
    <footer class="w-50-ns w-80 center tc">
      <p class="f4 lh-copy"><small>2017</small></p class="f4 lh-copy">
    </footer>
  </body>
</html>
